button {			
background-color: white;
border-radius: 5px;
color:#4db6ac;
opacity:0.8;
font-size:20px;
width:95%;
font-family: 'Montserrat', sans-serif;
margin-right:10px;
margin-left:10px;
}

#camera {
text-align:center;
}

body {
background-color: #d9d9d9;
z-index: -1;

}

#add-item {
	background-color:#4db6ac;
	color:white;
	width:100px;
	text-align:center;
	margin-bottom:5px;
}

form, label {
	margin-right:10px;
	margin-left:10px;
	font-family: 'Montserrat', sans-serif;
}

.browser-default {
	margin-bottom:150px;
}

