.nav-wrapper {
	background-color: #ffcc66;
	font-family: 'Montserrat', sans-serif;
}

/*footer styling */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.small {
	padding-right:25px;
	padding-left:25px;
	padding-bottom:5px;
	text-align:center;
	color:#D9D9D9;
}
#click:hover {
	background-color:#4484CE;
}

nav {
  background-color: #FFCC66;
}

nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display: inline-block;
}

nav a {
  color: white;
}


#nav-mobile.nav-wrapper.brand-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 10%;
  background-color: #FFCC66;
  font-size: 50px;
}


footer 

{
  background-color:white;
  padding-top:8px;
  width:100%;
  height:10%;
  bottom: 0;
  text-align:center;
  position: fixed;
  margin-bottom: 0px;

}

#home, #search, #add, #profile {
  background-color: white;
  border:none;
/*styling for footer ends here*/
